html, body {
	height: 100%;
	font-family: helvetica, arial, sans-serif;
}

* {
	margin: 0px;
	padding: 0px;
	border: none;
}

.layout {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.section {
	display: flex;
	flex-direction: row;
}

.section.fill {
	height: 100%;
	overflow: auto;
}

.subsection{
	display: flex;
	order: 1;
	flex: 1;
}

.section.fill > .subsection {
	height: 100%;
	overflow: auto;	
}

.section.fill > .subsection:not(:last-child) {
	border-right:1px solid black;
}

.section.fill > .subsection > iframe {
	width: 100%;
	height: 100%;
}

.section.header,
.section.footer{
	background: black;
	color: white;
	padding: 10px;
}

.section.footer > .subsection {
	justify-content: flex-end;
}

textarea{
	width: 100%;
	height: 100%;
}

.codeflask {
	position: relative !important;
}